body{
    width: 100%;
    height: 1400px;
    background-image: url(./image/bg.jpg);
    background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  font-family: "Montserrat", sans-serif;
}
main {
  max-width: 80%;
  margin: 0 auto;
}

nav {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 90px;
  margin-left: 120px;
}
form {
  flex-basis: 60%;
  display: flex;
}

.time-box {
  flex-basis: 10%;
}

.time-box h1 {
  text-align: left;
}
.search-bx {
  width: 100%;
  height: 10px;
  padding: 20px;
  border-radius: 35px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 3px 5px;
  border: 1px;
  transition: 0.2s;
  position: relative;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.search-bx:focus {
  outline: none;
 }
.search-bx::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  color: black;
}


.search-btn {
  position: absolute;
  margin-left: 500px;
  margin-top: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  color:black;
  border-radius: 25px;
   border: 1px dotted #fbfbfb65;
  background-color: rgb(216, 221, 228);
  cursor: pointer;
  transition: 0.2s;
}

#current-time {
  font-size: 35px;
  font-weight: 500;
  color: #ffffff;
}

#coma {
  font-size: 30px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 10px;
}


.current-weather {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
.current-weather-left {
  flex-basis: 40%;
  border: 1px ;
  padding: 0.5px 25px;
  height: 400px;
  box-shadow: rgba(19, 17, 17, 0.18) 0px 3px 4px;
  border-radius: 15px;
}



 
#city-name,
#country-name,
#state-name {
  display: inline-block;
  font-size: 25px;
  line-height: 1.5em;
  font-weight: 500;
  color: #ffffff;
}

#timeDate {
  font-size: 18px;
  color: #ffffff;
  margin-top: 10px;
} 


.weather-data {
  display:flex;
  align-items: flex-end;
  justify-content: center;
  gap: 15px;
  padding: 50px ;
}


.current-temp-style {
  font-size: 50px;
  color: #ffffff;
  font-weight: 600;
}

.humidity-icon {
    margin-left: 20px;
}


#humidity-con {
  font-size: 20px;
  color: #ffffff;
}

#weather-condition {
  font-size: 20px;
  color: #ffffff;
}

.row-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
  margin-top: 1px;
  margin-left: 20px;
}



.row-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  gap: 90px;
  margin-left: 25px;
}
 
 .current-card {
  width: 200px;
  padding: 34px 25px;
  backdrop-filter: blur(20px);
  text-align: center;
 border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 8px;
  border: 1px;
} 

.sm-card-txt {
  font-size: 50px;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 10px;
} 


